# --- Python & Environment ---
__pycache__/
*.py[cod]
.venv/
.env

# --- Model Weights (Huge files) ---
medgemma_vision/
*.safetensors
*.bin

# --- Medical Data (PRIVACY CRITICAL) ---
cxr/*.dcm
*.dcm
*.dicom
*.jpg
*.png
*.txt
*.xml
*.csv
*/runs/detect/train*
*/runs/pose/train*
*/runs/segment/train*
rotation_detector/training/cxr/*.dcm
rotation_detector/labels/*

# --- Mac System Files ---
.DS_Store

# --- Logs ---